<div>
    <label class="mt-0! text-xs">{{ "Operator"|trans({}, 'admin') }}</label>
    <select name="{{ namePrefix }}[operator]" data-repeater-field="config.operator" class="mt-0">
        {% for operator in enum('App\\Domain\\Automation\\Condition\\MatchOperator').cases()|filter(o => o.isForSet()) %}
            <option value="{{ operator.value }}">{{ operator|trans }}</option>
        {% endfor %}
    </select>
</div>
<div class="mt-2">
    <label class="mt-0! text-xs">{{ "Sport types"|trans({}, 'admin') }}</label>
    {% include 'html/admin/component/checkbox-multiselect.html.twig' with {
        name: namePrefix ~ '[sportTypes][]',
        options: sportTypeOptions(),
        placeholder: "Select sport types"|trans({}, 'admin'),
        requiredMessage: "Select at least one sport type."|trans({}, 'admin'),
        repeaterField: 'config.sportTypes',
    } only %}
</div>
