{% set allTimeLabel = "All time"|trans %}
{% set breadcrumbs = [
    {
        'url': 'rewind',
        'label': 'Rewind'|trans
    },
    {
        'url': 'rewind/' ~ activeRewindOptionLeft,
        'label': (rewindItemsLeftIsAllTimeRewind ? allTimeLabel : activeRewindOptionLeft),
    },
    {
        'url': 'rewind/' ~ activeRewindOptionLeft ~ '/compare',
        'label': 'Compare'|trans
    },
    {
        'url': 'rewind/' ~ activeRewindOptionLeft ~ '/compare/' ~ activeRewindOptionRight,
        'label':  (rewindItemsRightIsAllTimeRewind ? allTimeLabel : activeRewindOptionRight),
    }
] %}
{% include 'html/navigation/breadcrumbs.html.twig' with {'breadcrumbs': breadcrumbs} %}
{% autoescape false %}
    <div class="flex lg:hidden p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
        <div class="alert alert--warning w-full" role="alert">
            <span class="sr-only">Info</span>
            <div>
                {{ "Rewind comparisons are only available on larger screens."|trans }}
            </div>
        </div>
    </div>
    <div class="hidden lg:grid lg:grid-cols-2 mb-4 gap-4 sticky top-15 z-1001">
        <div class="flex gap-x-2 justify-center items-center p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
            <div class="text-gray-500 text-sm">{{ "compare"|trans }}</div>
            <div class="filter-dropdown">
                <button id="dropdownRewindOptionButton" data-dropdown="dropdownRewindOption"
                        class="text-primary border border-primary bg-primary-soft hover:bg-primary/20"
                        type="button">
                    {% if rewindItemsLeftIsAllTimeRewind %}
                        {{ allTimeLabel }}
                    {% else %}
                        {{ "Rewind"|trans }} {{ activeRewindOptionLeft }}
                    {% endif %}
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m1 1 4 4 4-4"/>
                    </svg>
                </button>
                <div id="dropdownRewindOption">
                    <ul aria-labelledby="dropdownRewindOptionButton">
                        {% for rewindOption in availableRewindOptions|filter(rewindOption => rewindOption != activeRewindOptionLeft) %}
                            <li>
                                {% set url = relativeUrl('rewind/' ~ rewindOption ~ '/compare') %}
                                {% if rewindOption != activeRewindOptionRight  %}
                                    {% set url = relativeUrl('rewind/' ~ rewindOption ~ '/compare/' ~ activeRewindOptionRight) %}
                                {% endif %}
                                <a href="#" data-router-navigate="{{ url }}" class="block px-4 py-2 text-gray-500 hover:bg-gray-100">
                                    {% if rewindOption == constant('App\\Domain\\Rewind\\FindAvailableRewindOptions\\FindAvailableRewindOptions::ALL_TIME')  %}
                                        {{ allTimeLabel }}
                                    {% else %}
                                        {{ "Rewind"|trans }} {{ rewindOption }}
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex gap-x-2 justify-center items-center p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
            <div class="text-gray-500 text-sm">{{ "to"|trans }}</div>
            <div class="filter-dropdown">
                <button id="dropdownRewindOptionCompareToButton" data-dropdown="dropdownRewindOptionCompareTo"
                        class="text-primary border border-primary bg-primary-soft hover:bg-primary/20"
                        type="button">
                    {% if rewindItemsRightIsAllTimeRewind %}
                        {{ allTimeLabel }}
                    {% else %}
                        {{ "Rewind"|trans }} {{ activeRewindOptionRight }}
                    {% endif %}
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m1 1 4 4 4-4"/>
                    </svg>
                </button>
                <div id="dropdownRewindOptionCompareTo">
                    <ul aria-labelledby="dropdownRewindOptionCompareToButton">
                        {% if availableRewindOptionsToCompareWith is not empty %}
                            {% for rewindOption in availableRewindOptionsToCompareWith %}
                                <li>
                                    <a href="#" data-router-navigate="{{ relativeUrl('rewind/' ~ activeRewindOptionLeft ~ '/compare/' ~ rewindOption) }}" class="block px-4 py-2 text-gray-500 hover:bg-gray-100">
                                        {% if rewindOption == constant('App\\Domain\\Rewind\\FindAvailableRewindOptions\\FindAvailableRewindOptions::ALL_TIME')  %}
                                            {{ allTimeLabel }}
                                        {% else %}
                                            {{ "Rewind"|trans }} {{ rewindOption }}
                                        {% endif %}
                                    </a>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li>
                                <span class="block px-4 py-2 text-gray-500 hover:bg-gray-100">{{ "No other options to compare with"|trans }}</span>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden lg:grid lg:grid-cols-2 gap-4">
        {% for item in rewindItemsLeft %}
            {% include 'html/rewind/rewind-item.html.twig' with {'item': item } %}
            {% include 'html/rewind/rewind-item.html.twig' with {'item': rewindItemsRight.get(loop.index0) } %}
        {% endfor %}
    </div>
    <div class="hidden lg:flex mt-4 p-4 bg-white border border-gray-200 rounded-lg shadow-xs">
        <p class="text-xs">
            These charts are based on <a href="https://github.com/atefkbenothman" class="underline" target="_blank">Kai's</a> work,
            go <a href="https://github.com/atefkbenothman/strava-recap" class="underline" target="_blank">check it out</a>
        </p>
    </div>
{% endautoescape %}